.presentation {
  margin-top: 5%;

  img {
    position: absolute;
    bottom: 50%;
  }
  .member0 {
    left: 0;
  }
  .member1 {
    left: 2%;
  }
  .member2 {
    left: 35%;
  }
  .member3 {
    left: 40%;
  }
  .member4 {
    left: 62%;
  }
  .member5 {
    left: 70%;
  }
}