.presentation {
  img {
    position: absolute;
    bottom: 50%;
  }
  .member0 {
    left: 5%;
    // bottom: 55%;
  }
  .member1 {
    left: 10%;
  }
  .member2 {
    left: 25%;
    // bottom: 55%;
  }
  .member3 {
    left: 30%;
  }
  .member4 {
    left: 55%;
    // bottom: 55%;
  }
  .member5 {
    left: 65%;
  }
}