.pokeballContainer {
  display: inline;

  img {
    width: 7%;
    margin: 5px 3px;

    &:first-child {
      position: absolute;
    }

    &:last-child {
      position: relative;
    }
  }

  .catch {
    animation: catch 1s linear;
    opacity: 0.2;
    filter: brightness(0.2);
  }
}

@keyframes catch {
  0% {
    opacity: 1;
    filter: brightness(1);
  }

  100% {
    opacity: 0.2;
    filter: brightness(0.2);
  }
}