.main {
  background-color: #C7B4F3;

  .revealImage {
    animation: revealImage 6s linear;
  }

  .revealInfo {
    animation: revealInfo 6s linear;
  }
}

@keyframes revealImage {
  0% {
    opacity: 0;
    filter: brightness(0);
  }

  40% {
    opacity: 0.01;
    filter: brightness(0);
  }

  50% {
    opacity: 1;
    filter: brightness(0);
  }

  80% {
    opacity: 1;
    filter: brightness(1);
  }
}

@keyframes revealInfo {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}