.choosePokeballs {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    img {
        margin: 1em;
        width: 30%;
        position: relative;
        right: 19%;
    }
}

.pokeballItem {
    display: flex;
    align-items: center;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-5em * 56))}
}

@keyframes jump {
    0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
    40%  {transform: translate3d(0,15%,0) scale3d(.9,1.1,1);}
    100% {transform: translate3d(0,50%,0) scale3d(1.1,.9,1);}
}

@keyframes pokeball-selected {
    0% {background-color: #FF1C1C66}
    100% {background-color: #FF1C1C00}
}

@keyframes superball-selected {
    0% {background-color: #80B9EF66}
    100% {background-color: #80B9EF00}
}

@keyframes ultraball-selected {
    0% {background-color: #FFBE0866}
    100% {background-color: #FFBE0800}
}

@keyframes masterball-selected {
    0% {background-color: #8E5EF066}
    100% {background-color: #8E5EF000}
}

.PokeballSelected {
    animation: pokeball-selected 0.5s linear;
}

.SuperballSelected {
    animation: superball-selected 0.5s linear;
}

.UltraballSelected {
    animation: ultraball-selected 0.5s linear;
}

.MasterballSelected {
    animation: masterball-selected 0.5s linear;
}

.roulette {
    z-index: -5;
    display: flex;
    position: absolute;
    animation: scroll 50s linear infinite;

    img {
        width: 5em;
        animation: jump .5s linear alternate infinite;
        margin-bottom: 4em;
    }
}