.type {
    align-items: center;
    font-family: "Open Sans", Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 11px;
    display: inline-block;
    height: 100%;
    margin: 0 3px;
    white-space: nowrap;
    width: auto;
    position: relative;
    border-radius: 100px;
    overflow: hidden;
    padding: 0 12px;
    text-overflow: ellipsis;
    line-height: 1.25rem;
    color: white;

    word-break: break-word;

    &:before {
        border-radius: 50%;
        content: '';
        height: 10px;
        left: 6px;
        margin-top: -5px;
        position: absolute;
        top: 50%;
        width: 10px;
    }


}