.reveal {
  margin-top: 8%;

  img {
    width: 100%;
    margin-bottom: 2em;
  }

  .revealImage {
    animation: revealImage 3.5s ease-in-out;
  }

  .info {
    opacity: 0;
  }

  .revealInfo {
    animation: revealInfo 3.5s ease-in-out;
    color: black;
    font-size: small;
    margin-top: -10%;
    opacity: 1;
    transition: opacity;
  }

  &.revealed {
    .revealImage {
      animation: none;
      opacity: 1;
      filter: brightness(1);
    }

    .info {
      opacity: 1;
    }

    .revealInfo {
      animation: none;
      opacity: 1;
    }
  }
}

@keyframes revealImage {
  0% {
    opacity: 0;
    filter: brightness(0);
  }

  35% {
    opacity: 0;
    filter: brightness(0);
  }

  45% {
    opacity: 1;
    filter: brightness(0);
  }

  65% {
    opacity: 1;
    filter: brightness(0);
  }

  85% {
    opacity: 1;
    filter: brightness(1);
  }

  100% {
    opacity: 1;
    filter: brightness(1);
  }
}

@keyframes revealInfo {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}