.reveal {
  margin-top: 0;
  padding-top: 8%;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  animation: revealBackground 3.5s ease-in-out;
  will-change: background-color;

  img {
    width: 100%;
    margin-bottom: 2em;
    position: relative;
    z-index: 2;
  }

  .revealImage {
    animation: revealImage 3.5s ease-in-out;
    will-change: transform, filter, opacity;
  }

  .info {
    opacity: 0;
    position: relative;
    z-index: 2;
  }

  .revealInfo {
    animation: revealInfo 3.5s ease-in-out;
    color: black;
    font-size: small;
    margin-top: -10%;
    opacity: 1;
    transition: opacity;
    will-change: transform, opacity;
  }

  &.revealed {
    animation: none;
    background-color: transparent;

    .revealImage {
      animation: none;
      opacity: 1;
      filter: brightness(1) invert(0);
      transform: translateY(0);
    }

    .type-particles-canvas {
      animation: none;
      opacity: 0;
    }

    .info {
      opacity: 1;
      transform: translateY(0);
    }

    .revealInfo {
      animation: none;
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@keyframes revealBackground {
  0% {
    background-color: #121212;
  }

  35% {
    background-color: #121212;
  }

  62% {
    background-color: transparent;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes revealImage {
  0% {
    opacity: 0;
    filter: brightness(0) invert(1);
    transform: translateY(35%);
  }

  12% {
    opacity: 0;
    filter: brightness(0) invert(1);
    transform: translateY(35%);
  }

  28% {
    opacity: 1;
    filter: brightness(0) invert(1);
    transform: translateY(35%);
  }

  35% {
    opacity: 1;
    filter: brightness(0) invert(1);
    transform: translateY(35%);
  }

  62% {
    opacity: 1;
    filter: brightness(0) invert(0);
    transform: translateY(35%);
  }

  76% {
    opacity: 1;
    filter: brightness(1) invert(0);
    transform: translateY(35%);
  }

  90% {
    opacity: 1;
    filter: brightness(1) invert(0);
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    filter: brightness(1) invert(0);
    transform: translateY(0);
  }
}

@keyframes revealInfo {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  80% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}